@font-face {
  font-family: "Shojumaru";
  src: url("../../fonts/Shojumaru-6ZlM.ttf");
}

@font-face {
  font-family: "Asian Hiro";
  src: url("../../fonts/AAsianHiro-vmv3L.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../fonts/RobotoSlab-VariableFont_wght.ttf");
}
