{# This won't fall back to the default theme if `THEME_FALLBACK` is on! #}
{% extends get_ctf_theme() + "/challenges.html" %}
{% block challenges_header %}
{{ super() }}
<div class="row">
  {% with form = Forms.submissions.SubmissionAttemptAnyForm() %}
  <form id="blankcheque" class="col" method="post"
    action="{{ url_for("api.challenges_challenge_attempt_any") }}"
    >
    <div class="form-row">
      <div class="col-auto"><i class="text-primary fa fa-3x fa-flag"></i></div>
      <div class="col">
        {{ form.submission.label(class="sr-only") }}
        {{ form.submission(class="form-control mb-2", placeholder="cybears{}") }}
      </div>
      <div class="col-auto">
        {{ form.submit(class="btn btn-primary mb-2") }}
      </div>
    </div>
    {{ form.nonce() }}
  </form>
  {% endwith %}
</div>
<div id="blankcheque-alerts" class="row"></div>
{% endblock challenges_header %}

{% block scripts %}
{{ super () }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script>
  window.addEventListener("load", ()=>{
    $("form#blankcheque").submit((e)=>{
      e.preventDefault();
      const formdata = new FormData(e.target);
      const data = Object.fromEntries(formdata.entries());
      $.ajax({
        url: e.target.action,
        type: e.target.method,
        cache: false,
        data: data,
        success: (r)=>{
          console.log(r);
          // Build the feedback message
          var msg = `Submitted <code>${data.submission}</code> and ` +
            `${r.data.message.toLowerCase()}`;
          if (r.data.solved !== undefined && r.data.length > 0) {
            msg += `: ${r.data.solve.toString()}`;
          }
          // And an alert element to hold it
          const alert_class = (r.data.status === "correct") ?
            "alert-success" : "alert-danger";
          const alert_elem = $("<div class='col col-100 alert'/>")
            .addClass(alert_class)
            .hide().append(msg);
          $("div#blankcheque-alerts").append(alert_elem);
          // Animate in and out after 5 seconds
          alert_elem.slideDown(()=>{
            window.setInterval(()=>{
              alert_elem.slideUp(()=>{ alert_elem.remove(); });
            }, 5000);
          });
        },
        error: (r)=>{
          console.log(r);
          // Build the feedback message
          var msg = "Submission failed :(";
          // And an alert element to hold it
          const alert_elem = $("<div class='col col-100 alert alert-danger'/>")
            .hide().append(msg);
          $("div#blankcheque-alerts").append(alert_elem);
          // Animate in and out after 5 seconds
          alert_elem.slideDown(()=>{
            window.setInterval(()=>{
              alert_elem.slideUp(()=>{ alert_elem.remove(); });
            }, 5000);
          });
        },
      });
    });
  });
</script>
{% endblock %}
