{% extends "base.html" %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="cybeartron preslash postslash">Notifications</h1>
		</div>
	</div>
	<div class="container">
		{% for notification in notifications %}
		<div class="card bg-dark mb-4">
			<div class="card-body">
				<h3 class="card-title">{{ notification.title }}</h3>
				<blockquote class="blockquote mb-0">
					<p>{{ notification.content | safe }}</p>
					<small class="text-muted">{{ notification.date | isoformat }}</small>
				</blockquote>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/utils.js') }}"></script>
{% endblock %}
