.chal-desc {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.chal-desc img {
    max-width: 100%;
    height: auto;
}

.modal-content {
    border-radius: 25px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
}

.btn-info {
    background-color: #5B7290 !important;
    border-color: rgba(0, 0, 0, 0.8) !important;
}

.badge-info {
    background-color: #5B7290 !important;
}

.modal-content {
    border-radius: 25px;
    max-width: 1000px;
    padding: 1em;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.solved-challenge {
    color: lightgray;
    opacity: 0.4;
}

.corner-button-check {
    margin-left: 15px;
}

.key-submit .btn {
    height: 51px;
}

#submission-input {
    width: 100%;
    border: 2px solid transparent;
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    border: none;
    border-radius: 0;
    color: #ffa825;
    font-weight: 400;
    background-color: #131313;
}

#submission-input:focus {
    border-color: #00f7ff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(66, 195, 255, 0.78);
}

.modal-body {
    position: relative;
    padding: 0px 20px 0 20px;
}

.main-container {
    /* width: 75%; */
    width: 100%;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-bottom: 0;
}

#challenges-board {
    flex-wrap: nowrap;
}

#challenges-pre {
    background-color: transparent; /* background: #151515 url("vendor/bkg.png") 0 0 !important; */
    border: 0;
    margin-bottom: 10vh;
    overflow: visible;
    left: 2vmin;
}

#challenge-modal-wrapper {
    overflow-x: visible;
    width: 85vw;
    margin-right: 5%
}

#challenge-modal {
    overflow-y: visible;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 320px) {
    .main-container {
        width: 100%;
    }

    #challenges-pre {
        position: absolute;
    }

    #challenge-modal {
        overflow-y: visible;
        width: 100vw;
    }

    #challenge-modal .tab-content > .tab-pane:nth-child(2) { /* This rule limits the size of the solves tab in the challenge view */
        max-height: 100vh;
        overflow-y: visible;
    }

    .low-res-hide {
        opacity: 0.4
    }

    .footer {
        /* visibility: hidden; */
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .main-container {
        width: 100%;
    }

    #challenges-pre {
        position: absolute;
    }

    #challenge-modal {
        overflow-y: visible;
        margin-left: 25%;
        width: 100vw;
        max-width: 100% !important;
    }

    #challenge-modal .tab-content .tab-pane:nth-child(2) { /* This rule limits the size of the solves tab in the challenge view */
        max-height: 50vh;
        overflow-y: visible;
    }

    .low-res-hide {
        opacity: 0.4
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1150px) {
    .main-container {
        /* width: 80%; */
        width: 100%;
    }

    #challenges-pre {
        position: relative;
    }

    #challenge-modal {
        overflow-y: visible;
        margin-left: 0;
        width: 66.66666667%;
    }

    #challenge-modal .tab-content .tab-pane:nth-child(2) { /* This rule limits the size of the solves tab in the challenge view */
        max-height: 50vh;
        overflow-y: visible;
    }

    .low-res-hide {
        opacity: 1.0
    }

    body {
        overflow-x: hidden;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1250px) {
    .main-container {
        /* width: 70%; */
        width: 100%;
    }

    #challenges-pre {
        /*width: 50%;*/
        position: relative;
    }

    #challenge-modal-wrapper {
        overflow-x: visible;
        width: 75vw;
        position: relative;
    }

    #challenge-modal {
        overflow-y: visible;
        width: 66.66666667%;
    }

    #challenge-modal .tab-content .tab-pane:nth-child(2) { /* This rule limits the size of the solves tab in the challenge view */
        max-height: 50vh;
        overflow-y: visible;
    }

    .low-res-hide {
        opacity: 1.0
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1367px) {
    .main-container {
        /* width: 60%; */
        width: 100%;
    }

    #challenges-pre {
        /*width: 50%;*/
        position: relative;
    }

    #challenge-modal-wrapper {
        overflow-x: visible;
        width: 65vw;
        position: relative;
    }

    #challenge-modal {
        overflow-y: visible;
        width: 66.66666667%;
    }

    #challenge-modal .tab-content .tab-pane:nth-child(2) { /* This rule limits the size of the solves tab in the challenge view */
        max-height: 50vh;
        overflow-y: visible;
    }

    .low-res-hide {
        opacity: 1.0
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 600px;
    }
}